/* body {
    background-color: #eee
} */

.mb-0 {
    text-align: left;
    padding-left: 8px;
}

/* .card {
    border: none;
    border-radius: 10px
} */

.c-details span {
    font-weight: 300;
    font-size: 13px;
    text-align: left;
}

.icon {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px
}

.badge span {
    background-color: black;
    width: 72px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: black;
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}