body {
    margin-top: 2em;
    font-family: Arial;
    padding-top: 15px;
    /* background-color: #e9ecef */
}

/* .container {
    background-color: white;
} */

.tablerounededCorner {
    border: 1px solid #ced4da;
    border-radius: 1.2em;
    box-shadow: 4px 4px 4px #ced4da;
    margin: 10px 10px 30px 10px;
}

.roundedTable {
    border-collapse: collapse;
    border-radius: 1.2em;
    overflow: hidden;
    width: 100%;
}

.roundedTable th, td {
    padding: 15px;
    background: white;
    border-bottom: 1px solid whitesmoke;
}

.roundedTable th {
    text-align: left;
}

.roundedTable tr:last-child td {
    border-bottom: none;
}
