html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  padding: 8px 10px!important;
}

span.count-on-me{
  background-color: #1e1e1e;
  color: #fff;
  padding: 2px 6px;
  border-radius: 20px;
}

.navigation {
  background-color: white;
  width: 100vw!important;
}

.brand-image {
  width: 1.5em !important;
}

.btn-primary{
  background-color: #1e1e1e!important;
  border: 1px solid #1e1e1e!important;
  color: #fff;
  border-radius: 4px;
  padding: 0 40px;
  margin-left: 16px;
}

.dropdown-menu.show{
  padding: 4px 0!important ;
  margin: 0!important;
  width: 100%;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.section-one{
  height: 100vh;
}

.text-start, .card-center{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homepage {
  background-color: #e9ecef;
}

.cart-card{
  margin: 80px 0 20px 0!important;
}

.centering-me{
  display: flex;
}

.flex-me{
  display: flex;
  width: 100vw;
  justify-content: center;
}

.add-to-cart {
  width: 100%;
}

.rating {
  font-size: 13px;
  display: inline;
}

.detail-page {
  background-color: #e9ecef;
}

/* .button-detail {
  width: 1rem;
  border: 1px solid black;
} */

.container-one {
  width: 35rem;
}

/* button */

.button-style {
  background: none;
  border: none;
  padding: 0;
}

.detail-price {
  margin-left: 60%;
}

.our-products {
  background: none;
  border: none;
}

/* @media screen and (max-width: 1000px) {
  body {
    width: 100%;
  }
} */

/* Table */

.table {
  border-collapse: separate;
  border-spacing:0 20px;
}

.body-login{
 width: 100vw;
 height: 100vh;
  background-color: #e9ecef;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-login{
  width: 350px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  padding: 30px;
  border-radius: 6px;
}

.bg-login > hr{
  margin: 0!important;
}

.bg-login > h4 {
  margin-bottom: 10px!important;
}

.bg-login > label {
  text-align: left;
  margin: 20px 0 10px 0;
  color: #272727;
}

.bg-login > input {
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px solid #272727;
}

.bg-login > small {
   color: red;
}

.bg-login > button {
  margin-top: 40px;
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px 0;
  border-radius: 8px;
}

/* Footer */

.main-footer {
  z-index: 2;
  background-color: white;
  /* margin-top: 12%; */
  padding-top: 2em;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: lightgray 1px solid;
}